<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="slider">
		<div id="sliderFredy" class="carousel slide" data-bs-ride="carousel">
		    <div class="carousel-inner">
		      <div class="carousel-item active">
		        <img src="https://th.bing.com/th/id/OIP._PE9p3v6PdypQ8gmfXCMZwHaCS?r=0&w=710&h=220&rs=1&pid=ImgDetMain&cb=idpwebp2&o=7&rm=3" class="d-block w-100" alt="Cancha 1" height="480px">
		      </div>
		      <div class="carousel-item">
		        <img src="https://static.vecteezy.com/system/resources/previews/002/202/045/non_2x/realistic-soccer-ball-on-a-green-soccer-lawn-vector.jpg" class="d-block w-100" alt="Cancha 2" height="480px">
		      </div>
		      <div class="carousel-item">
		        <img src="https://thumbs.dreamstime.com/b/soccer-ball-green-football-field-grass-space-text-banner-design-182891968.jpg" class="d-block w-100" alt="Cancha 3" height="480px">
		      </div>
		    </div>
		    <button class="carousel-control-prev" type="button" data-bs-target="#sliderFredy" data-bs-slide="prev">
		      <span class="carousel-control-prev-icon"></span>
		    </button>
		    <button class="carousel-control-next" type="button" data-bs-target="#sliderFredy" data-bs-slide="next">
		      <span class="carousel-control-next-icon"></span>
		    </button>
		  </div>
    </div>
</body>
</html>