<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
		<footer th:fragment="footer" class="app-footer">
		        <!--begin::To the end-->
		        <div class="float-end d-none d-sm-inline">CIBERTEC</div>
		        <!--end::To the end-->
		        <!--begin::Copyright-->
		        <strong>
		          Copyright &copy; 2025&nbsp;
		          <a href="https://adminlte.io" class="text-decoration-none">FredyQueenSoccer</a>.
		        </strong>
		        Todos los derechos reservados.
		        <!--end::Copyright-->
		      </footer>
</body>
</html>