<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout-back/basedashboard :: base(~{::body})}">
<head>
	<style>
	    .acciones button {
	      margin-right: 5px;
	    }
	  </style>
</head>
<body>

<div th:fragment="contenido">
	<!-- Tabla Canchas -->
	 <h4>Listado de Canchas</h4>
	 <a type="button" class="btn btn-sm btn-outline-success" th:href="@{/dashboard/canchas/create}">Nueva Cancha Deportiva</a><br><br>
	 <table class="table table-bordered table-striped" style="text-align: center;">
	   <thead>
	     <tr>
	       <th>ID</th>
	       <th>Descripción</th>
	       <th>Tipo</th>
	       <th>Estado</th>
	       <th>Acciones</th>
	     </tr>
	   </thead>
	   <tbody id="tablaCanchas">
	     <!-- Datos de ejemplo -->
	     <tr th:each="cancha : ${canchas}">
	       <td th:text="${cancha.id}" ></td>
	       <td th:text="${cancha.nombre}" ></td>
	       <td th:text="${cancha.descripcion}" ></td>
		   <td><span th:classappend="${cancha.estado} ? 'badge bg-success' : 
		   						'badge bg-danger text-white'" 
		   						th:text="${cancha.estado} ? 'Activo' : 'Inactivo'" ></span></td>
	       <td class="acciones">
	         <a th:href="@{'/dashboard/canchas/edit/'+${cancha.id}}" class="btn btn-sm btn-outline-primary me-1">Modificar</a>
	         <a th:href="@{'/dashboard/canchas/delete/'+${cancha.id}}" class="btn btn-sm btn-outline-danger" onclick="return confirm('¿Deseas eliminar este Registro?')">Eliminar</a>
	       </td>
	     </tr>
	   </tbody>
	 </table>	
</div>

</body>
</html>